<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.interpss.workbench.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.interpss.workbench.Perspective"
            id="com.interpss.workbench.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.interpss.workbench.application"
            name="InterPSS WorkBench">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
 <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.interpss.ui.wizards"
            name="InterPSS">
      </category>
   </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="com.interpss.ui.views"
          name="InterPSS">
    </category>
 </extension>

</plugin>
