<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--  Define the IPSSMsgHub object
	      ============================
             TYPE_MSG    = 1,
             TYPE_DEBUG  = 2,
             TYPE_INFO   = 3,
             TYPE_STATUS = 4,
             TYPE_WARN   = 5,
             TYPE_ERROR  = 6;
	-->
	<bean id="stdoutMsgListener" 
	      class="com.interpss.common.msg.StdoutMsgListener">	
	  	<constructor-arg>
	  		<value>4</value></constructor-arg>
	</bean>

	<bean id="editorDialogUtil" 
	      class="com.interpss.common.ui.DialogUtil"
	      singleton="true">	
	</bean>

	<bean id="ipssMsgHub" 
	      class="com.interpss.common.msg.IPSSMsgHub">	
		<property name="msgListeners">
			<list>
				<ref bean="stdoutMsgListener"/>
				<ref bean="editorDialogUtil"/>
			</list>
		</property>
	</bean>

	
	<!-- 
	    Define Configuration objects
	    ============================	
	-->
	<bean id="refDataManager" 
	      class="com.interpss.editor.refData.RefDataManager"
	      singleton="true">	
	</bean>

	<bean id="simuRecManager" 
	      class="com.interpss.editor.io.SimuRecDBManager"
	      singleton="true">	
	</bean>
			
	<import resource="simuContext.xml"/>
	<import resource="dstabControllerContext.xml"/>
	
	<import resource="graphContext.xml"/>

	<import resource="editorContext.xml"/> 
	
	<import resource="uiContext.xml"/>

	<import resource="customAdapterContext.xml"/>
	<import resource="simuAppContext.xml"/>


	<bean id="ipssAppContext" 
	      class="com.interpss.editor.app.AppContext"
	      singleton="true">	
	      <constructor-arg>
	  			<ref bean="ipssMsgHub"/></constructor-arg>
	      <constructor-arg>
	      		<!-- ipssProject defined in simuAppContext.xml -->
	  			<ref bean="ipssProject"/></constructor-arg>
      	  <!-- also depends on GEditor, needs to be set -->
	</bean>	

	<bean id="ipssGraphicEditor" 
	      class="com.interpss.editor.GEditor">	
	      <constructor-arg>
	      		<!-- editorStatusPanel defined in editorContext.xml -->
	  			<ref bean="editorStatusPanel"/></constructor-arg>
	      <constructor-arg>
	      		<!-- ipssMainFrame defined in editorContext.xml -->
	  			<ref bean="ipssMainFrame"/></constructor-arg>
	</bean>	
</beans>
