<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<extension
       point="org.eclipse.ui.navigator.viewer">
    <viewer
          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
           <popupMenu
                allowsPlatformContributions="false"
                id="org.eclipse.ui.examples.navigator.view#PopupMenu">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.edit"
                   separator="true"/>   
             <insertionPoint name="group.reorganize" />         
             <insertionPoint
                   name="group.port"
                   separator="true"/>     
             <insertionPoint
                   name="group.build"
                   separator="true"/> 
             <insertionPoint
                   name="group.generate"
                   separator="true"/> 
             <insertionPoint
                   name="group.search"
                   separator="true"/>              
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>             
          </popupMenu>
          
    </viewer>
          <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="com.interpss.wb.opencim.xmlnavigator.xmlcontent"/>           
         </includes>
      </viewerContentBinding> 
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="com.interpss.wb.opencim.xmlnavigator.XMLViewContentProvider"
          icon="icons/sample.gif"
          id="com.interpss.wb.opencim.xmlnavigator.xmlcontent"
          labelProvider="com.interpss.wb.opencim.xmlnavigator.XMLViewLabelProvider"
          name="InterPSS OpenCIM XML content"
          priority="normal">
          <triggerPoints>
					<and> 
						<instanceof value="org.eclipse.core.resources.IResource"/> 
						<test forcePluginActivation="true" property="com.interpss.opencim.namespace" 
						value="http://www.interpss.com/opencim"/>
					</and>
			</triggerPoints>
            <possibleChildren>
               <instanceof value="org.eclipse.wst.xml.core.internal.document.ElementImpl"/>
            </possibleChildren>
            <actionProvider
               class="com.interpss.wb.opencim.xmlnavigator.XMLContentActionProvider"
               id="com.interpss.wb.opencim.xmlnavigator.xmlcontentactionprovider"/>
          
    </navigatorContent>
 </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
        id="org.eclipse.jdt.ui.IResourceTypeExtender"
        type="org.eclipse.core.resources.IResource"
        namespace="com.interpss.opencim"
        properties="namespace"
        class="com.interpss.wb.opencim.xmlnavigator.XMLResourcePropertyTester">
     </propertyTester>
   </extension>
      <extension point="org.eclipse.ui.popupMenus"> 
		<objectContribution 
           id="org.eclipse.ui.articles.action.contribution.popup.object"
           objectClass="org.eclipse.core.resources.IFile"
           nameFilter="*.xml">
           <action
               id="com.interpss.wb.opencim.xmlnavigator.action.ChangeToOpenCIMNSAction" 
               label="Enable InterPSS OpenCIM Namespace"
         	   icon="icons/sample.gif"
               menubarPath="additions" 
               class="com.interpss.wb.opencim.xmlnavigator.action.ChangeToOpenCIMNSAction"> 
           </action> 
   </objectContribution>
  <objectContribution
        adaptable="false"
        id="com.interpss.wb.opencim.xmlnavigator.action.deleteaction"
        objectClass="org.eclipse.wst.xml.core.internal.document.ElementImpl">
     <action
           class="com.interpss.wb.opencim.xmlnavigator.action.DeleteElementAction"
           enablesFor="1"
           helpContextId="org.eclipse.ui.edit.delete"
           icon="icons/delete_obj.gif"
           id="com.interpss.wb.opencim.xmlnavigator.action.DeleteElementAction"
           label="Delete Element"
           menubarPath="group.edit"
           tooltip="Delete a specific XML element">
     </action>
  </objectContribution> 
</extension>
   

</plugin>
